.add-expenses-container {
  width: 100%;
  margin-top: 20px;
  border: 2px solid rgba(241, 241, 241, 0.137);
  padding: 25px 15px 15px 15px;

  form {
    input {
      @include input();
    }

    .select-btn-container {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      margin: 0 10%;

      select {
        width: 60%;
        height: 30px;
        margin: 30px 30px 30px 0;
        border: 2px solid $total;
      }
      button {
        height: 30px;
        width: 20%;
        font-weight: 600;
        border: 2px solid $total;
        color: $total;
        cursor: pointer;
        transition: all 0.2s ease-in;

        &:hover {
          letter-spacing: 2px;
        }
      }
    }
  }
}
